<% include partials/header %>

<container>
<img class="img-fluid" src="<%= band.img %>">
<h1>The band is: <%= band.name %></h1>
<a class="btn btn-primary" href="<%= band.wiki %>">Wiki</a>

<a class="btn btn-outline-primary" href="/bands">Go home</a>
</container>

<% include partials/footer %>
