<% include partials/header %>
<body>

<div class="container">
  <header>
    <!-- Welcome Jumbotron -->
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Favorite Bands!</h1>
      <p class="lead">You've made it to the homepage. Good job. You should see a list of bands here.</p>
    </div>
  </header>

  <!-- List of bands grid -->
  <div class="row text-center">
    <% bands.forEach(function(band) { %>
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top img-fluid h-40" src="<%= band.img %>">
          <div class="card-body">
            <h4 class="card-title"><%= band.name %></h4>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
