<% include ./partials/header %>

<div class="login-outer">
  <div class="login-middle">
    <div class="login-inner">
      <form class="form-signin text-center m-auto bg-light" action="/login" method="POST">
        <p class="display-4"><i class="fas fa-guitar"></i></p>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">username</label>
        <input type="text" name="username" placeholder="username">
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" placeholder="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

        <li><a href="/register">Register</a></li>
      </form>
    </div>
  </div>
</div>
<% include ./partials/footer %>
