<% include partials/header %>

<div class="container">
  <div class="card w-50 mx-auto mt-5">
    <h1 class="card-header">Add a new band</h5>
    <div class="card-body">
      <p class="card-text">Please fill out all of the fields:</p>
      <a href="#" class="btn btn-success btn-sm">Create</a>
      <a href="/bands" class="btn btn-outline-primary btn-sm">Cancel</a>
    </div>
  </div>
</div>

<% include partials/footer %>
