html body {
  background-color: #e6e6e6;
}

.jumbotron {
  background-color: #afcdea;
  text-shadow: .25px .25px gray;
}

.btn-sm {
  color: white;
  background-color: #b16464;
  border: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
